body {
    background: FloralWhite;
}

table {
    background: LavenderBlush;
    text-align: center;
    border-color: black;
    border: 1px solid;
}

 th {
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom-style: solid;
    padding-right: 20px;
    padding-left: 20px;
}

td {
    padding-right: 20px;
    padding-left: 20px;
}

.general {
        position: center;
        position: left;
        width: 500px;
        margin: 50px auto 100px auto;
}

input,#submit {
        position: relative;
        height: 50px;
        width: 450px;
        color: indigo;
        background: transparent;
        border: solid 1px #b3aca7;
        text-align: center;
        background: white;
}

input:hover, #submit:hover {
        border-color: red;
        transition: 0.5s;
}
